$body-bg: #eaecf0;
$text-color: #1b1b1b;
$light-color: #8e99ab;
$accent-color: #1fc0ae;

$sidebar-bg: #f6f7fa;
$side-width: 280px;
$side-width-mini: 75px;
$font-family: "Inter", sans-serif;
$hover-sidebar: rgba(31, 192, 174, 0.19);
